.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.0;
}

.clearfix {
    display: block;
}

h1.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}
